.side-popover-menu { 
	position:relative;
	/* width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	
	border-left: 60px solid green; */ 
	}
.side-popover-menu .field {
	/* width:300px; */
	 /* background:#EC6603; color:#fff; padding:5px; border:none; */
	 cursor:pointer;  
	font-family:'lucida sans unicode',sans-serif; font-size:1em;
	border:solid 1px #EC6603;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.side-popover-menu .field:hover {
	border:solid 1px #fff;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.side-popover-menu>ul.list { 
	display:none;
	/* position:relative; right:-10px; bottom:-30px; */ 
	z-index:999;
	/* width:300px; */
	margin:0; padding:10px; list-style:none;
	/* background:#fff; color:#333; */
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
.side-popover-menu>ul.list li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}
.side-popover-menu>ul.list li:hover {
	background:#EC6603; color:#fff;
}
.side-popover-menu>ul.list li:last-child { border:none }