media="all"
a {
	/* for transition effect on hyperlinks...
	 color: #444;
	text-decoration: none; 
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	*/
}

.btn-info {
  background: linear-gradient(0deg, #5bc0de 30%, rgb(145, 227, 252) 70%);
}

.btn-warning {
  background: linear-gradient(0deg, #E78B07 30%, rgb(255, 184, 86) 70%)
}

.btn-success {
  background: linear-gradient(0deg, #259925 30%, rgb(53, 234, 53) 70%)
}

.btn-danger {
  background: linear-gradient(0deg, #C33E3A 30%, rgb(252, 97, 92) 70%);
}

.btn-primary {
  background: linear-gradient(0deg, #2A70AD 30%, #59B2FF 70%); 
}



.lightShadow {
	-moz-box-shadow: 3px 3px 3px rgba(50,50,50,0.28);
	-webkit-box-shadow: 3px 3px 3px rgba(50,50,50,0.28);
	box-shadow: 3px 3px 3px rgba(50,50,50,0.28);
}

.darkShadow {
	-moz-box-shadow: 0px 5px 15px rgba(50,50,50,0.28);
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


.heading-shadow {
	text-shadow: 1px 0 3px rgba(0,0,0, .4);
}

/*  see demo on http://css-tricks.com/examples/hrs/ 

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

		
hr.style-five {
    border: 0;
    height: 0; 
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  
    content: "\00a0";  
}

		
hr.style-four {
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}
*/

.width100 {
	width: 100% !important;
}

.width-auto {
	width: auto !important;
}

.height-auto {
	height: auto !important;
}

.ct-sz-large {
	width: 320px !important;
}

.ct-sz-medium {
	width: 240px !important;
}

.ct-sz-small {
	width: 160px !important;
}

.ct-sz-mini {
	width: 120px !important;
}

.ct-sz-x-mini {
	width: 80px !important;
}

.ct-sz-xx-mini {
	width: 40px !important;
}

.ct-sz-x-large {
	width: 400px !important;
}

.ct-sz-xx-large {

}

.x-mini-padding {
	padding: 0px 2px !important;
}

.small-padding {
	padding: 0px 4px !important;
}

.leftPad0 {
	padding-left: 0px !important;
}

.right-rounded-border {
	-webkit-border-radius: 0 15px 15px 0 !important; 
	-moz-border-radius: 0 15px 15px 0 !important;
	border-radius: 0 15px 15px 0 !important;
}

.left-rounded-border {
	-webkit-border-radius: 15px 0 0 15px !important;
	-moz-border-radius: 15px 0 0 15px !important;
	border-radius: 15px 0 0 15px !important;
}

.both-rounded-border {
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	border-radius: 15px !important;
}

.hand-pointer {
	cursor: pointer !important;
}

.table-row-hover {
    color:  blue ;
 }
 
 .table-row-highlight {
     background-color: green;
 }
 

/* not used currently by Ramana 
.table-text-right {
    text-align: right !important;
}

.table-text-left {
    text-align: left !important;
}

.table-text-center { 
    text-align: center !important;
}
*/

th.seqNoCol {
	width: 20px;
	text-align: center !important;	
}

th.editBtnCol, th.deleteBtnCol {
	width: 90px;
	text-align: center !important;
}

th.thCenter {
	text-align: center !important;
}

th.thRight {
	text-align: right !important;
}

th.thLeft {
	text-align: right !important;
}

table#generalSearchTable td {
	text-align: center !important;
}

th.seqNoCol, th.thCenter, th.thRight, th.thLeft, th.editBtnCol, th.deleteBtnCol {
	/* Below code generated by ==> http://www.colorzilla.com/gradient-editor/ */
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(129,165,196,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(129,165,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(129,165,196,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(129,165,196,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(129,165,196,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 0%,rgba(129,165,196,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#81a5c4',GradientType=0 ); /* IE6-9 */		
}

.tableHeaderRow {
	height: 20px;	
}

/* the below two styles the-legend and the-fieldset are from 
  http://stackoverflow.com/questions/12167848/bootstrap-adding-legend-to-well
*/
.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.spin {
	-webkit-animation: spin 1.8s infinite linear;
	-moz-animation: spin 1.8s infinite linear;
	-o-animation: spin 1.8s infinite linear;
	animation: spin 1.8s infinite linear;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%; /* IE 9 */
}


@-moz-keyframes spin {
	from { 
		-moz-transform:rotate(0deg);
	} to {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	from { transform:rotate(0deg);}
	to {transform: rotate(360deg);}
}

.spinner {
	display: inline-block;
	opacity: 0;
	max-width: 0px;
	-webkit-transition: opacity 0.25s, max-width 0.45s;
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s;
	/* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
	cursor: progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	max-width: 50px;
	/* More than it will ever come, notice that this affects on animation duration */
}

.reqSup {
	opacity: 0;
	color: red;
	padding: 0px 4px;
}

label.required .reqSup {
	opacity: 1;
	-webkit-transition: opacity 0.25s, max-width 0.45s;
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s;
}

.moveImg {
	width:20px;
    height:20px;
    background-image: url('/img/drag.png');
    background-repeat:no-repeat;background-size:20px 20px;
    background-position: center;
}

.td-center {
    vertical-align: middle !important; 
    text-align: center !important;
}

.drop-zone-highlight-marker {
	border: 1px dotted black !important;
}

.checkboxWrapper {
	/* this is used to wrapping a checkbox in a td */
	width: 100% !important;
	height: 100% !important;
	margin : 0px !important;
	padding : 0px !important;
}

.dropdown-menu > li {
	text-align: left !important;
}

/* c tag is for wrapping code in Question Text */
c {
  padding: 0px 4px;
  font-size: 90%;
  color: #3F50FF;
  white-space: nowrap;
  background-color: #CCFCF3;
  background-color: rgba(204, 252, 243, 0.41);
  border-radius: 4px;
  border: 1px solid lightblue;
}
c {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
c {
  font-family: monospace, serif;
  font-size: 1em;
}
/* *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */
c {
  font-family: monospace;
}

.creamPreTab4 {
	tab-size: 4;
	background-color: #fffae6;
	/* word-break: normal !important;
	white-space: nowrap; */
	white-space: pre; 
}

.java-comments {
	font-style: italic;
	color: green;
	word-break: normal;
}

.btn .badge {
  top: 0px !important;
}

.showOnHover {
	opacity: 0.6;
}

.showOnHover:hover  {
	opacity: 1;
}

.javaDocLink {
    color: blue;
    opacity : 0.9;
    text-decoration: none;
    margin: 10px 0px 10px 0px !important;
}
.javaDocLink:hover, .javaDocLink:focus {
    opacity : 1;
    text-decoration: underline;
    cursor: pointer;
}
.javaDocLink:focus {
    outline: thin dotted;
    outline-offset: -2px;
}

.jqueryUIPopupDialog{
	z-index: 1050 !important; 
} 